Repository Wall-Brew-Co/brew-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: restricted, dotfiles, documentation, source code, test code, tooling, clojure, clojurescript, javascript, dependencies

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced local 'LICENSE' with remote 'sources/templates/LICENSE'
  LICENSE
Labels: restricted

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#349)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  LICENSE
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#353)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#358)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#359)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local 'CODE_OF_CONDUCT.md' with remote 'sources/community/CODE_OF_CONDUCT.md'
  CODE_OF_CONDUCT.md
Labels: restricted, documentation

[bot] synced local 'CONTRIBUTING.md' with remote 'sources/templates/CONTRIBUTING.md'
  CONTRIBUTING.md
Labels: restricted, documentation

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#371)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: restricted, documentation

chore: update contributors [skip ci]
  CONTRIBUTORS.svg
Labels: none

Test clojure-lint-action WIP
  .github/workflows/lint.yml
Labels: restricted, dotfiles

Add clj-kondo version to lint workflow
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local '.clj-kondo/config.edn' with remote 'sources/clojure/cljkondo/config.edn'
  .clj-kondo/config.edn
Labels: restricted, dotfiles

.github/labeler.yml:

restricted:
  - changed-files:
    - any-glob-to-any-file: ['LICENSE', 'CONTRIBUTING.md', 'CODE_OF_CONDUCT.md', '.github/**/*', '.cljstyle', 'SECURITY.md', '.clj-kondo/**/*', '.gitignore', '.wallbrew/bouncer/**/*']

dotfiles:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.cljstyle', '.clj-kondo/**/*' , '.gitignore', '.wallbrew/**/*']

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', 'doc/**/*', '.wallbrew/sealog/**/*', '**/*.md']

source code:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*']

test code:
  - changed-files:
    - any-glob-to-any-file: ['test/**/*']

tooling:
  - changed-files:
    - any-glob-to-any-file: ['deps.edn', 'Makefile', 'bin/**/*', '**/*.sh', '.wallbrew/bouncer/**/*']

clojure:
  - changed-files:
    - any-glob-to-any-file: ['**/*.clj', '**/*.cljc']

clojurescript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.cljs', '**/*.cljc']

javascript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['project.clj', 'package.json', 'package-lock.json', 'pom.xml']

# This file was automatically copied and populated by rebroadcast
# Do not edit this file directly, instead modify the source at https://github.com/Wall-Brew-Co/rebroadcast/blob/master/sources/github-actions/labeler.yml
