Repository Wall-Brew-Co/brew-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: restricted, dotfiles, documentation, source code, test code, tooling, clojure, clojurescript, javascript, dependencies

.github/labeler.yml:

restricted:
  - changed-files:
    - any-glob-to-any-file: ['LICENSE', 'CONTRIBUTING.md', 'CODE_OF_CONDUCT.md', '.github/**/*', '.cljstyle', 'SECURITY.md', '.clj-kondo/**/*', '.gitignore', '.wallbrew/bouncer/**/*']

dotfiles:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.cljstyle', '.clj-kondo/**/*' , '.gitignore', '.wallbrew/**/*']

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', 'doc/**/*', '.wallbrew/sealog/**/*', '**/*.md']

source code:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*']

test code:
  - changed-files:
    - any-glob-to-any-file: ['test/**/*']

tooling:
  - changed-files:
    - any-glob-to-any-file: ['deps.edn', 'Makefile', 'bin/**/*', '**/*.sh', '.wallbrew/bouncer/**/*']

clojure:
  - changed-files:
    - any-glob-to-any-file: ['**/*.clj', '**/*.cljc']

clojurescript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.cljs', '**/*.cljc']

javascript:
  - changed-files:
    - any-glob-to-any-file: ['**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['project.clj', 'package.json', 'package-lock.json', 'pom.xml']

# This file was automatically copied and populated by rebroadcast
# Do not edit this file directly, instead modify the source at https://github.com/Wall-Brew-Co/rebroadcast/blob/master/sources/github-actions/labeler.yml

Bump common-beer-format and common-beer-data
  project.clj
  src/brew_bot/default_values.cljc
  src/brew_bot/selectors.cljc
  test/brew_bot/core_test.cljc
  test/brew_bot/util_test.cljc
Labels: source code, test code, clojure, clojurescript, dependencies

Bump common-beer-format and common-beer-data (#247)
  project.clj
  src/brew_bot/default_values.cljc
  src/brew_bot/selectors.cljc
  test/brew_bot/core_test.cljc
  test/brew_bot/util_test.cljc
Labels: source code, test code, clojure, clojurescript, dependencies

Remove dependency on cljx-sampling
  project.clj
  src/brew_bot/default_values.cljc
  src/brew_bot/sampling/api.cljc
  src/brew_bot/sampling/impl.cljc
  src/brew_bot/selectors.cljc
  src/brew_bot/styles.cljc
  src/brew_bot/util.cljc
  test/brew_bot/runner.cljs
  test/brew_bot/sampling/api_test.cljc
  test/brew_bot/sampling/impl_test.cljc
  test/brew_bot/util_test.cljc
Labels: source code, test code, clojure, clojurescript, dependencies

Version bump
  .wallbrew/sealog/changes/3-4-0.edn
  CHANGELOG.md
  pom.xml
  project.clj
Labels: dotfiles, documentation, clojure, dependencies

[Format] Auto-formatting
  test/brew_bot/sampling/api_test.cljc
Labels: test code, clojure, clojurescript

Remove dependency on `cljx-sampling` (#248)
  .wallbrew/sealog/changes/3-4-0.edn
  CHANGELOG.md
  pom.xml
  project.clj
  src/brew_bot/default_values.cljc
  src/brew_bot/sampling/api.cljc
  src/brew_bot/sampling/impl.cljc
  src/brew_bot/selectors.cljc
  src/brew_bot/styles.cljc
  src/brew_bot/util.cljc
  test/brew_bot/runner.cljs
  test/brew_bot/sampling/api_test.cljc
  test/brew_bot/sampling/impl_test.cljc
  test/brew_bot/util_test.cljc
Labels: dotfiles, documentation, source code, test code, clojure, clojurescript, dependencies

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#251)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local '.gitignore' with remote 'sources/clojure/.gitignore'
  .gitignore
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#254)
  .gitignore
Labels: restricted, dotfiles

chore: update contributors [skip ci]
  CONTRIBUTORS.svg
Labels: none

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/contributors.yml' with remote 'sources/github-actions/workflows/contributors.yml'
  .github/workflows/contributors.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/label.yml' with remote 'sources/github-actions/workflows/label.yml'
  .github/workflows/label.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/greetings.yml' with remote 'sources/github-actions/workflows/greetings.yml'
  .github/workflows/greetings.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles

[bot] synced local 'LICENSE' with remote 'sources/templates/LICENSE'
  LICENSE
Labels: restricted

[bot] synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/clojurescript.yml' with remote 'sources/github-actions/workflows/clojurescript.yml'
  .github/workflows/clojurescript.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#262)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
  LICENSE
Labels: restricted, dotfiles

[bot] synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles

[bot] synced file(s) with Wall-Brew-Co/rebroadcast (#271)
  .github/workflows/format.yml
Labels: restricted, dotfiles

Fix reflections
  project.clj
  src/brew_bot/styles.cljc
Labels: source code, clojure, clojurescript, dependencies

Bump version
  .wallbrew/sealog/changes/3-5-0.edn
  CHANGELOG.md
  pom.xml
  project.clj
Labels: dotfiles, documentation, clojure, dependencies

Fix reflections (#273)
  .wallbrew/sealog/changes/3-5-0.edn
  CHANGELOG.md
  pom.xml
  project.clj
  src/brew_bot/styles.cljc
Labels: dotfiles, documentation, source code, clojure, clojurescript, dependencies

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles
